body{
    color: whitesmoke;
    background-color: black;
}
.bgblack{
    background-color: black;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat;
    background-size: cover;
}
.videopanecontent{
    margin-top: 30%;
}
h2{
    color: whitesmoke;
}
p{
    color:whitesmoke;
}
.navbar{
    position: fixed; !important;
    width: 100%;
    color:whitesmoke;
}
a{
    color:whitesmoke;
}
.panel1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/wrapper1.jpg") no-repeat;
    margin-top: 53%;
    z-index: -100;

}
.panel1content{
    margin-top: 15%;
}
.square1{
    position: absolute;
    left: 0.5%;
    top: 0;
    width: 49%;
    height: 75%;
    background: url("../img/square.jpg") no-repeat;
    margin-top: 80%;
    z-index: -100;

}
.square2{
    position: absolute;
    left: 50%;
    top: 0;
    width: 49%;
    height: 75%;
    background: url("../img/square2.jpg") no-repeat;
    margin-top: 80%;
    z-index: -100;
}
.footer{
    margin-top: 60%;
    height: 20%;
}
.postpreview{
    background-color: darkslategrey;
    border: solid black;
    width: 20%;
    margin: 1%;
}
.videopaneheading{
    margin-top: 20%;
}