body {
    color: whitesmoke;
    background-color: black;
}
.bgblack {
    background-color: black;
}





h2 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
}

.navbar {
    position: fixed;
!important;
    width: 100%;
    color: whitesmoke;
}
a {
    color: whitesmoke;
}
.footer {
    margin-top: 60%;
    height: 20%;
}

.postpreview {
    background-color: #F18400;
    border: solid black;
    width: 20%;
    margin: 1%;
}

.videopaneheading {
    margin-top: 20%;
}

.navbar-items {
    margin-left: 15%;
    margin-top: -3%;
    width: 60%;
}
.navbar-item{
    margin-left: 10%;
    float:left;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color:#F18400;
}
@media all and (min-width: 1200px) {
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: no-repeat;
        background-size: cover;
    }
    .videopanecontent {
         margin-top: 30%;

     }

    .square1 {
        position: absolute;
        left: 0.5%;
        top: 165%;
        width: 49%;
        height: 75%;
        background: url("../img/Achtergrond_3.png") no-repeat;
        z-index: -100;
        background-size: 100%;


    }

    .square2 {
        position: absolute;
        left: 50%;
        top: 165%;
        width: 49%;
        height: 75%;
        background: url("../img/Achtergrond_2.png") no-repeat;
        display: block;
        z-index: -100;
        background-size: 100%;


    }
    .panel1bg {
        position: absolute;
        left: 0;
        top: 80%;
        width: 100%;
        height: 100%;
        background: url("../img/Achtergrond_1.png") no-repeat;
        z-index: -100;
        margin-top:54%;

    }
    .panel1content {
        margin-top: 15%;
    }
}

