body, div, h1, h2, h3, h4, p, ul, li{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    padding: 20px 0;
}

body {
    color: whitesmoke;
    background-color: black;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
}

.contain-width{
    padding: 0 15vw;
}


.site-header {
    transition: top .2s ease-in-out;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    display: block;
    border-bottom: 1px rgba(51,51,51,0.8) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    z-index: 10;
}
.site-header .logo{
    margin-left: 10vw;
}
.site-header .logo img{
    height: 90px;
}

.site-header .header-menu{
    padding-right: 10vw;
}

.site-header .header-menu a, .site-header .header-menu a:focus{
    float: left;
    width: 100px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #F18400;
}

.site-header .header-menu a:hover{
    text-decoration: none;
    color: whitesmoke;
}

.site-header.nav-up {
    top: -90px;
}


/** INTRO */
/** INTRO */

.intro{
    /*background-image: url(../../uploads/london-negative-WEB2.jpg);*/
    background-color: #000;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center bottom;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 8px #000;
    width: 100%;
    height: 100vh;
    min-height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.intro .videopane{
    position: absolute;
    height: 100vh;
    min-height: 650px;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background: #000;
}

.intro .videopane video{
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    /*height: auto;*/
    bottom: 0;
    overflow: hidden;
}

.intro .intro-heading {
    z-index: 8;
    margin-top: 120px;
}

/* INTRO POSTS */
/* INTRO POSTS */
/* INTRO POSTS */
.intro .news-content {
    z-index: 8;
    width: 100%;
}

.intro .news-content .posts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.intro .news-content .posts .postpreview {
    background-color: #F18400;
    /*border: solid black;*/
    width: 20%;
    height: 250px;

    /*margin: 1%;*/
}

/* THE GAME */
/* THE GAME */
/* THE GAME */

.the-game{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background: whitesmoke;
    color: black;
    flex-direction: column;
}
/* THE GAME */
/* THE GAME */
/* THE GAME */

.about-us{
    width: 100%;
    background: #F18400;
}

.about-us .people{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.about-us .people .person{
    width: 30%;
    height: 250px;
    overflow: hidden;
    margin: 20px 0;

}

.about-us .people .person img{
    width: 100%;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
.footer {
    margin: 10px 0;
}






/*@media all and (min-width: 1200px) {*/
    /*video {*/
        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*min-width: 100%;*/
        /*min-height: 100%;*/
        /*width: auto;*/
        /*height: auto;*/
        /*z-index: -100;*/
        /*-ms-transform: translateX(-50%) translateY(-50%);*/
        /*-moz-transform: translateX(-50%) translateY(-50%);*/
        /*-webkit-transform: translateX(-50%) translateY(-50%);*/
        /*transform: translateX(-50%) translateY(-50%);*/
        /*background: no-repeat;*/
        /*background-size: cover;*/
    /*}*/


    /*.square1 {*/
        /*position: absolute;*/
        /*left: 0.5%;*/
        /*top: 165%;*/
        /*width: 49%;*/
        /*height: 75%;*/
        /*background: url("../img/Achtergrond_3.png") no-repeat;*/
        /*z-index: -100;*/
        /*background-size: 100%;*/


    /*}*/

    /*.square2 {*/
        /*position: absolute;*/
        /*left: 50%;*/
        /*top: 165%;*/
        /*width: 49%;*/
        /*height: 75%;*/
        /*background: url("../img/Achtergrond_2.png") no-repeat;*/
        /*display: block;*/
        /*z-index: -100;*/
        /*background-size: 100%;*/


    /*}*/
    /*.panel1bg {*/
        /*position: absolute;*/
        /*left: 0;*/
        /*top: 80%;*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*background: url("../img/Achtergrond_1.png") no-repeat;*/
        /*z-index: -100;*/
        /*margin-top:54%;*/

    /*}*/
    /*.panel1content {*/
        /*margin-top: 15%;*/
    /*}*/
/*}*/
